h1 {
    margin-top: 2em;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-indent: 1em;
}

.botenparent {
    text-emphasis: dot filled;
    -webkit-text-emphasis: dot filled;
}

.character-count {
    text-align: right;
}
