<div class="col">
  <section class="card mb-3">
    <div class="card-body">
      <header class="d-flex justify-content-between align-items-start">
        <h1 class="card-title h5"><%= student.name %></h1>
      </header>
      <%= render 'stats', stats: student %>
      <p class="card-text text-secondary">
        <%= student.description %>
      </p>
      <%= link_to icon('fas', 'list', '作品一覧へ'), student_path(student), class: 'btn btn-sm btn-outline-primary stretched-link' %>
    </div>
  </section>
</div>
