<% provide :title, "#{@student.name}" %>

<header class="mb-3">
  <h1><%= link_to @student.name, @student.url, target: '_blank', class: 'link-dark' %></h1>
</header>

<section class="mb-3">
  <h2 class="border-bottom pb-2 mb-3">実作</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <%= render @student.jissakus.includes(:kadai, :score).reverse_order, header: :kadai %>
  </div>
</section>

<section class="mb-3">
  <h2 class="border-bottom pb-2 mb-3">梗概</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <%= render @student.kougais.includes(:kadai).reverse_order, header: :kadai %>
  </div>
</section>

