<% provide :title, "#{@term.year} 得点チャート" %>
<% content_for :head do %>
  <%= javascript_pack_tag 'scores' %>
<% end %>

<%= render 'terms/nav', term: @term %>

<aside class="mb-3">
  <%= link_to_genron_sf @term.genron_sf_scores_url %>
</aside>

<section class="mb-3">
  <div id="score-chart" data-url="<%= term_scores_path(@term.year, format: :json) %>">
</section>
