<% provide :title, "#{@term.year} 得点チャート" %>
<% content_for :head do %>
  <%= javascript_include_tag 'scores-index', type: 'module' %>
<% end %>

<%= render 'terms/nav', term: @term %>



<section class="mb-3">
  <div id="score-chart" data-scores-path="<%= term_scores_path(@term.year, format: :json) %>"></div>
</section>
