<% provide :title, "#{@term.year} 得点チャート" %>

<%= render 'terms/nav', term: @term %>

<aside class="mb-3">
  <%= link_to_genron_sf @term.genron_sf_scores_url %>
</aside>

<section class="mb-3">
  <canvas data-controller="score-chart" data-score-chart-endpoint="<%= term_scores_path(@term.year, format: :json) %>"></canvas>
</section>
