<div class="bg-light p-5 rounded">
  <h1><span class="text-light bg-dark bg-gradient">裏</span>SF創作講座</h1>
  <p class="lead">
    ゲンロン 大森望 SF創作講座のファンサイトです。
  </p>
  <ul class="list-inline">
    <% unless current_user %>
      <li class="list-inline-item"><%= link_to icon('fab', 'twitter', 'Twitter でログイン'), '/auth/twitter', method: :post, class: 'btn btn-lg btn-info' %></li>
    <% end %>
    <li class="list-inline-item"><%= link_to '課題一覧へ', kadais_path, class: 'btn btn-lg btn-primary' %></li>
  </ul>
</div>
