<%= render 'works/work', work: jissaku, header: local_assigns[:header] do %>
  <% if jissaku.score %>
    <span class="badge rounded-pill bg-success"><%= jissaku.score.value %></span>
  <% elsif jissaku.prize %>
    <span class="badge bg-success"><%= jissaku.prize.title %></span>
  <% end %>
<% end %>
