<div class="col">
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title h5">
        <%= link_to kougai.title, kougai.url, class: 'link-dark text-decoration-none', target: '_blank' %>
      </h3>
      <ul class="card-text list-unstyled text-muted">
        <li><%= link_to kougai.student.name, kougai.student.url, class: 'link-secondary', target: '_blank' %></li>
        <li><%= link_to kougai.url_domain, kougai.url, class: 'link-secondary text-decoration-none', target: '_blank' %></li>
      </ul>
      <%= link_to '作品を読む', kougai.url, class: 'btn btn-sm btn-outline-primary', target: '_blank' %>
    </div>
  </div>
</div>
