name: JavaScript

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: package.json
          cache: yarn

      - name: Run yarn install
        run: yarn install --frozen-lockfile

      - run: yarn run lint
